body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

#global_graph {
    width: 850px;
    height: 400px;
}

#global_graph_pie {
    width: 850px;
    height: 300px;
}

.author_company {
    float: right;
}

h3 {
    float: right;
}

#graph_time {
    width: 850px;
    height: 400px;
}

#graph_pie {
    width: 850px;
    height: 400px;
}
